@model IEnumerable<PAT.Models.DietRecommendation>

@{
    ViewBag.Title = "DietRec";
}

<h2>DietRec</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorID_IN_Diet.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PatientID_IN_Diet.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DietDuration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DietContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RecommendedExercise)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorID_IN_Diet.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientID_IN_Diet.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietDuration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DietContent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecommendedExercise)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DietID }) |
            @Html.ActionLink("Details", "Details", new { id=item.DietID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.DietID })
        </td>
    </tr>
}

</table>
