@model PAT.Models.DietRecommendation

@{
    ViewBag.Title = "Details";
}

<h2>PatientDetails</h2>
<!DOCTYPE html>
<html>
<head>
    <style>

        table {
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 15px;
            text-align: left;
        }

        #t01 tr:nth-child(even) {
            background-color: #eee;
        }

        #t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        #t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>


    <br>

    <table id="t01">
        <tr>
            <th>Patient ID</th>
            <th>Diet Duration(Weeks)</th>
            <th>Diet Content</th>
            <th>Recommended Exercise</th>
        </tr>
        <tr>
            <td>
                <dd>
                    @Html.DisplayFor(model => model.PatientID_IN_Diet.FirstName)
                </dd>
            </td>
            <td>
                <dd>
                    @Html.DisplayFor(model => model.DietDuration)
                </dd>
            </td>
            <td>
                <dd>
                    @Html.DisplayFor(model => model.DietContent)
                </dd>
            </td>
            <td>
                <dd>
                    @Html.DisplayFor(model => model.RecommendedExercise)
                </dd>
            </td>
        </tr>

    </table>

</body>
</html>


<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.DietID })*@ |
    @Html.ActionLink("Back to List", "Index")
</p>